In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
df=pd.read_csv('gdrive/MyDrive/Data/GlobalLandTemperaturesByCountry.csv')
df_co2=pd.read_csv('gdrive/MyDrive/Data/CO2emissionbycountries.csv',encoding= 'unicode_escape')

In [3]:
df_co2.head(10)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²
5,Afghanistan,AF,93,1755,0.0,41128771.0,652230.0,0.40%,63/km²
6,Afghanistan,AF,93,1756,0.0,41128771.0,652230.0,0.40%,63/km²
7,Afghanistan,AF,93,1757,0.0,41128771.0,652230.0,0.40%,63/km²
8,Afghanistan,AF,93,1758,0.0,41128771.0,652230.0,0.40%,63/km²
9,Afghanistan,AF,93,1759,0.0,41128771.0,652230.0,0.40%,63/km²

In [4]:
df= df_co2[df_co2['CO2 emission (Tons)'] != 0]

In [5]:
df_single=df

In [6]:
df_single=df_single.drop_duplicates(subset=['Country'])

In [7]:
df_single

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
199,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63/km²
454,Albania,AL,355,1933,7328.0,2842321.0,28748.0,0.00%,99/km²
708,Algeria,DZ,213,1916,3664.0,44903225.0,2381741.0,1.60%,19/km²
1053,Andorra,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
1284,Angola,AO,244,1950,186864.0,35588987.0,1246700.0,0.80%,29/km²
...,...,...,...,...,...,...,...,...,...
58407,Vietnam,VN,84,1892,212512.0,98186856.0,331212.0,0.20%,296/km²
58787,Wallis and Futuna,WF,681,2001,14656.0,NaN,NaN,NaN,NaN
59007,Yemen,YE,967,1950,58624.0,33696614.0,527968.0,0.40%,64/km²
59278,Zambia,ZM,260,1950,2330187.0,20017675.0,752612.0,0.50%,27/km²
59502,Zimbabwe,ZW,263,1903,113584.0,16320537.0,390757.0,0.30%,42/km²

In [8]:
df_single = df_single[df_single['Year'] > 1959]

In [9]:
df_single

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
1053,Andorra,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
1595,Anguilla,AI,1-264,1990,51296.0,NaN,91.0,0.00%,NaN
1863,Antarctica,AQ,672,1987,3664.0,NaN,NaN,NaN,NaN
6453,Bhutan,BT,975,1970,3664.0,782455.0,38394.0,0.00%,20/km²
7268,Botswana,BW,267,1972,21984.0,2630296.0,582000.0,0.40%,5/km²
11060,Christmas Island,CX,61,1970,69616.0,NaN,NaN,NaN,NaN
12143,Cook Islands,CK,682,1969,10992.0,NaN,236.0,0.00%,NaN
27582,Kiribati,KI,686,1961,7328.0,131232.0,811.0,0.00%,162/km²
27900,Kosovo,XK,383,2008,7386624.0,1802250.0,NaN,NaN,166/km²
29508,Lesotho,LS,266,1990,1472928.0,2305825.0,30355.0,0.00%,76/km²
30321,Liechtenstein,LI,423,1990,198968.0,39327.0,160.0,0.00%,246/km²
32199,Maldives,MV,960,1971,3664.0,523787.0,300.0,0.00%,"1,746/km²"
33033,Marshall Islands,MH,692,1992,76944.0,41569.0,181.0,0.00%,230/km²
34115,Mayotte,YT,262,1990,66014.0,326101.0,374.0,0.00%,872/km²
34659,Micronesia,FM,691,1992,102592.0,114164.0,702.0,0.00%,163/km²
35713,Montserrat,MS,1-664,1962,3664.0,NaN,102.0,0.00%,NaN
36826,Namibia,NaN,264,1991,1055232.0,2567012.0,825615.0,0.60%,3/km²
37070,Nauru,NR,674,1964,29312.0,12668.0,21.0,0.00%,603/km²
39244,Niue,NU,683,1970,3664.0,NaN,260.0,0.00%,NaN
40322,Oman,OM,968,1964,10992.0,4576298.0,309500.0,0.20%,15/km²
41161,Palestine,PS,970,1990,861040.0,5250072.0,NaN,NaN,844/km²
44933,Saint Helena,NaN,290,1968,3664.0,NaN,394.0,0.00%,NaN
45217,Saint Kitts and Nevis,KN,1-869,1981,54960.0,47657.0,261.0,0.00%,183/km²
47638,Seychelles,SC,248,1963,7328.0,107118.0,452.0,0.00%,237/km²
53639,Timor,TL,NaN,2002,161216.0,NaN,NaN,NaN,NaN
55524,Turks and Caicos Islands,TC,1-649,1990,29312.0,NaN,948.0,0.00%,NaN
55795,Tuvalu,TV,688,1990,10992.0,11312.0,26.0,0.00%,435/km²
57935,Vanuatu,VU,678,1962,40304.0,326740.0,12189.0,0.00%,27/km²
58787,Wallis and Futuna,WF,681,2001,14656.0,NaN,NaN,NaN,NaN

In [10]:
df_final= pd.merge(df,df_single,on='Country',how='right')

In [79]:
df_final = pd.merge(df_single,df,on='Country')

In [11]:
df_final

,Country,Code_x,Calling Code_x,Year_x,CO2 emission (Tons)_x,Population(2022)_x,Area_x,% of World_x,Density(km2)_x,Code_y,Calling Code_y,Year_y,CO2 emission (Tons)_y,Population(2022)_y,Area_y,% of World_y,Density(km2)_y
0,Andorra,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
1,Andorra,AD,376,1991,813408.0,79824.0,468.0,0.00%,171/km²,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
2,Andorra,AD,376,1992,1220112.0,79824.0,468.0,0.00%,171/km²,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
3,Andorra,AD,376,1993,1630480.0,79824.0,468.0,0.00%,171/km²,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
4,Andorra,AD,376,1994,2037184.0,79824.0,468.0,0.00%,171/km²,AD,376,1990,406704.0,79824.0,468.0,0.00%,171/km²
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,Wallis and Futuna,WF,681,2016,403040.0,NaN,NaN,NaN,NaN,WF,681,2001,14656.0,NaN,NaN,NaN,NaN
1165,Wallis and Futuna,WF,681,2017,428688.0,NaN,NaN,NaN,NaN,WF,681,2001,14656.0,NaN,NaN,NaN,NaN
1166,Wallis and Futuna,WF,681,2018,454336.0,NaN,NaN,NaN,NaN,WF,681,2001,14656.0,NaN,NaN,NaN,NaN
1167,Wallis and Futuna,WF,681,2019,480773.0,NaN,NaN,NaN,NaN,WF,681,2001,14656.0,NaN,NaN,NaN,NaN
1168,Wallis and Futuna,WF,681,2020,507247.0,NaN,NaN,NaN,NaN,WF,681,2001,14656.0,NaN,NaN,NaN,NaN