In [1]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [42]:
import pandas as pd

df=pd.read_csv('gdrive/MyDrive/Data/GlobalLandTemperaturesByCountry.csv') #Temperature df
df_co2=pd.read_csv('gdrive/MyDrive/Data/CO2emissionbycountries.csv',encoding= 'unicode_escape') #CO2 df

In [47]:
df.head(5)

           dt  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [48]:
df_co2.head(5)

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²

In [49]:
#Dropping data with CO2 emission equal 0
df= df_co2[df_co2['CO2 emission (Tons)'] != 0]

In [50]:
#Preparing data by dropping duplicates to visualize in which years surveys start.
df_single=df
df_single=df_single.drop_duplicates(subset=['Country'])
print(df_single)

                 Country Code Calling Code  Year  CO2 emission (Tons)  \
199          Afghanistan   AF           93  1949              14656.0
454              Albania   AL          355  1933               7328.0
708              Algeria   DZ          213  1916               3664.0
1053             Andorra   AD          376  1990             406704.0
1284              Angola   AO          244  1950             186864.0
...                  ...  ...          ...   ...                  ...
58407            Vietnam   VN           84  1892             212512.0
58787  Wallis and Futuna   WF          681  2001              14656.0
59007              Yemen   YE          967  1950              58624.0
59278             Zambia   ZM          260  1950            2330187.0
59502           Zimbabwe   ZW          263  1903             113584.0

       Population(2022)       Area % of World Density(km2)
199          41128771.0   652230.0      0.40%       63/km²
454           2842321.0    28748.0      0.00%       99/km²
708          44903225.0  2381741.0      1.60%       19/km²
1053            79824.0      468.0      0.00%      171/km²
1284         35588987.0  1246700.0      0.80%       29/km²
...                 ...        ...        ...          ...
58407        98186856.0   331212.0      0.20%      296/km²
58787               NaN        NaN        NaN          NaN
59007        33696614.0   527968.0      0.40%       64/km²
59278        20017675.0   752612.0      0.50%       27/km²
59502        16320537.0   390757.0      0.30%       42/km²

[220 rows x 9 columns]

In [51]:
#Filtering country with data surveys starting from 1959
df_single = df_single[df_single['Year'] > 1959]
print(df_single)

                        Country Code Calling Code  Year  CO2 emission (Tons)  \
1053                    Andorra   AD          376  1990             406704.0
1595                   Anguilla   AI        1-264  1990              51296.0
1863                 Antarctica   AQ          672  1987               3664.0
6453                     Bhutan   BT          975  1970               3664.0
7268                   Botswana   BW          267  1972              21984.0
11060          Christmas Island   CX           61  1970              69616.0
12143              Cook Islands   CK          682  1969              10992.0
27582                  Kiribati   KI          686  1961               7328.0
27900                    Kosovo   XK          383  2008            7386624.0
29508                   Lesotho   LS          266  1990            1472928.0
30321             Liechtenstein   LI          423  1990             198968.0
32199                  Maldives   MV          960  1971               3664.0
33033          Marshall Islands   MH          692  1992              76944.0
34115                   Mayotte   YT          262  1990              66014.0
34659                Micronesia   FM          691  1992             102592.0
35713                Montserrat   MS        1-664  1962               3664.0
36826                   Namibia  NaN          264  1991            1055232.0
37070                     Nauru   NR          674  1964              29312.0
39244                      Niue   NU          683  1970               3664.0
40322                      Oman   OM          968  1964              10992.0
41161                 Palestine   PS          970  1990             861040.0
44933              Saint Helena  NaN          290  1968               3664.0
45217     Saint Kitts and Nevis   KN        1-869  1981              54960.0
47638                Seychelles   SC          248  1963               7328.0
53639                     Timor   TL          NaN  2002             161216.0
55524  Turks and Caicos Islands   TC        1-649  1990              29312.0
55795                    Tuvalu   TV          688  1990              10992.0
57935                   Vanuatu   VU          678  1962              40304.0
58787         Wallis and Futuna   WF          681  2001              14656.0

       Population(2022)      Area % of World Density(km2)
1053            79824.0     468.0      0.00%      171/km²
1595                NaN      91.0      0.00%          NaN
1863                NaN       NaN        NaN          NaN
6453           782455.0   38394.0      0.00%       20/km²
7268          2630296.0  582000.0      0.40%        5/km²
11060               NaN       NaN        NaN          NaN
12143               NaN     236.0      0.00%          NaN
27582          131232.0     811.0      0.00%      162/km²
27900         1802250.0       NaN        NaN      166/km²
29508         2305825.0   30355.0      0.00%       76/km²
30321           39327.0     160.0      0.00%      246/km²
32199          523787.0     300.0      0.00%    1,746/km²
33033           41569.0     181.0      0.00%      230/km²
34115          326101.0     374.0      0.00%      872/km²
34659          114164.0     702.0      0.00%      163/km²
35713               NaN     102.0      0.00%          NaN
36826         2567012.0  825615.0      0.60%        3/km²
37070           12668.0      21.0      0.00%      603/km²
39244               NaN     260.0      0.00%          NaN
40322         4576298.0  309500.0      0.20%       15/km²
41161         5250072.0       NaN        NaN      844/km²
44933               NaN     394.0      0.00%          NaN
45217           47657.0     261.0      0.00%      183/km²
47638          107118.0     452.0      0.00%      237/km²
53639               NaN       NaN        NaN          NaN
55524               NaN     948.0      0.00%          NaN
55795           11312.0      26.0      0.00%      435/km²
57935          326740.0   12189.0      0.00%       27/km²
58787               NaN       NaN        NaN          NaN

In [52]:
#Left outer join exclusion on country with data surveys starting from 1959
df_final=pd.merge(df,df_single[['Country']],on=['Country'],how="outer",indicator=True)
df_final=df_final[df_final['_merge']=='left_only']

In [53]:
df_final

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2),_merge
0,Afghanistan,AF,93,1949,14656.0,41128771.0,652230.0,0.40%,63/km²,left_only
1,Afghanistan,AF,93,1950,98928.0,41128771.0,652230.0,0.40%,63/km²,left_only
2,Afghanistan,AF,93,1951,190528.0,41128771.0,652230.0,0.40%,63/km²,left_only
3,Afghanistan,AF,93,1952,282128.0,41128771.0,652230.0,0.40%,63/km²,left_only
4,Afghanistan,AF,93,1953,388384.0,41128771.0,652230.0,0.40%,63/km²,left_only
...,...,...,...,...,...,...,...,...,...,...
21702,Zimbabwe,ZW,263,2016,736467042.0,16320537.0,390757.0,0.30%,42/km²,left_only
21703,Zimbabwe,ZW,263,2017,746048675.0,16320537.0,390757.0,0.30%,42/km²,left_only
21704,Zimbabwe,ZW,263,2018,757903042.0,16320537.0,390757.0,0.30%,42/km²,left_only
21705,Zimbabwe,ZW,263,2019,768852126.0,16320537.0,390757.0,0.30%,42/km²,left_only
21706,Zimbabwe,ZW,263,2020,779383468.0,16320537.0,390757.0,0.30%,42/km²,left_only